* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-serif';
}

body {
    background-color: #222;
}

.card {
    width: 90%;
    max-width: 430px;
    background: linear-gradient(135deg, #00feba, #5b548a);
    color: #fff;
    margin: 60px auto 0;
    border-radius: 17px;
    padding: 40px 35px;
    text-align: center;
}

.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input {
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 8px 20px;
    height: 50px;
    border-radius: 30px;
    flex: 1;
    margin-right: 12px;
    font-size: 16px;
}

.search button {
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.search button img {
    width: 15px;

}

.weather-icon {
    width: 140px;
    margin-top: 25px;
}

.weather h1 {
    font-size: 60px;
    font-weight: 400;
}

.weather h2 {
    font-size: 28px;
    font-weight: 300;
    margin-top: -5px;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    margin-top: 40px;
}

.col {
    display: flex;
    align-items: center;
    text-align: left;
}

.col img {
    width: 35px;
    margin-right: 7px;
}

.humidity, .wind {
    font-size: 22px;
    margin-top: -4px;
}