* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    color: white;
    background-color: #ADA296;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #36382E;
    height: 60px;
}

.left {
    font-size: 1.5rem;
}

nav ul {
    display: flex;
}

nav ul li {
    margin: 0 23px;
    list-style: none;
}

