body {
    background-color: rosybrown;
    font-family: Arial, sans-serif;
}

p {
    margin: 5px;
}

a {
    text-decoration: none;
}

.business-card {
    width: 300px;
    background-color: #FFF0F5;
    
}