body {
    background-color: rosybrown;
    font-family: Arial, sans-serif;
}

p {
    margin: 5px;
}

a {
    text-decoration: none;
}

.business-card {
    width: 300px;
    background-color: #FFF0F5;
    padding: 20px;
    margin: 100px auto 0;
    text-align: center;
    font-size: 16px;
}

.profile-img {
    max-width: 100%;
}