* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #111;
    color: white;
    font-family: "Poppins", sans-serif;
}

nav {
    height: 80px;
    display: flex;
    position: fixed;
    width: 100%;
    align-items: center;
    /* background-color: #656565; */
}


.logo,.navigations{
    margin: 20px 25px;
}

.logo {
    display: flex;
    gap: 8px;
}

.logo img {
    height: 50px;
    border-radius: 50%;
}

/* .logo .logo-cont {
    width: 130px;
} */

.navigations ul {
    display: flex;
    gap: 25px;
    margin-left: 380px;
}

.navigations ul li {
    color: white;
    display: flex;
    flex-wrap: nowrap;
    list-style: none;
}

.navigations ul li a {
    text-decoration: none;
    color: white;
}
.navigations img {
    height: 20px;
    border-radius: 50%;
}

.responsive-layout {
    display: none;
}

.responsive-layout ul {
    display: flex;
    gap: 20px;
    margin: 0 20px;
}

.responsive-layout ul li {
    color: white;
    list-style: none;
}

.responsive-layout ul li a {
    text-decoration: none;
    color: white;
}
.responsive-layout img {
    height: 20px;
    border-radius: 50%;
}

@media (max-width:600px) {
    nav {
        display: flex;
        justify-content: space-between;
    }
    .logo img {
        height: 50px;
    }

    .logo .logo-cont {
        font-size: 0.8rem;
    }

    .navigations {
        display: none;
    }

    .responsive-layout {
        display: flex;
        margin: 0 0px;
    }
}
