* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #111;
    color: white;
    font-family: "Poppins", sans-serif;
}

nav {
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
}

.logo img {
    height: 50px;
}

.navigations ul {
    display: flex;

}

.navigations img {
    height: 20px;
}
